<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>
</head>
<body>

    <h2>Add Student</h2>
    <form method="post" action="/Producer/post">
        {% csrf_token %}
        <input type="text" placeholder="Enter Name..." name="Uname">
        <input type="text" placeholder="Enter Password..." name="Password">
        <input type=email placeholder="Your Email..." name="Mail">
        <input type="submit" value="Submit">
    </form>

</body>
</html>